@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

* {
  font-family: Nunito Sans, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

h1, h2, h3, h4, p {
  line-height: 100%;
  display: inline-block;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  font-weight: 800;
  font-size: 2rem;
}

h3 {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4, p {
  line-height: 1.1em;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

span {
  font-family: inherit;
  color: #05E494;
  font-size: inherit;
  letter-spacing: inherit;
}

ul li {
  font-weight: 600;
}

a, a:active, a:visited {
  font-weight: 600;
}

/*
.wrapper {
  min-height: 100%;
  opacity: 0;
  transition: .3s;
  &_loaded {
    opacity: 1;
  }
}
*/
.header__container {
  max-width: 67.5rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0F0F0F;
}
.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}
.page__header {
  margin: 1rem 0;
  width: 100%;
  position: relative;
  z-index: 2;
  pointer-events: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page__socials .socials__icon {
  pointer-events: visible;
  cursor: pointer;
  font-size: 1.5rem;
  padding-right: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.page__socials .socials__icon:last-child {
  padding: 0;
}
.page__socials .socials__icon:hover {
  color: #05E494;
}
.page__background {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  background-color: #161616;
  height: 100%;
}
.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #05E494;
  cursor: pointer;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.screen_hero {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.screen__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.screen__content {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}
.screen__content_hero {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
}
.screen__title {
  margin: 0 0 0.25rem;
}
.screen__subtitle {
  color: #05E494;
  margin: 0 0 2rem;
  position: relative;
}
.screen__subtitle::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #05E494;
}
.screen__subsubtitle {
  margin: 0 0 1rem;
}
.screen__paragraph {
  max-width: 28rem;
  text-align: left;
  display: inline-block;
}
.screen__button {
  letter-spacing: 0.1em;
  line-height: 1.1em;
  pointer-events: visible;
  text-align: center;
  padding: 1rem 2rem;
  border: 2px #05E494 solid;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.screen__button_contact {
  margin-left: 1rem;
}
.screen__button:-webkit-any-link {
  -webkit-box-flex: 0;
          flex: none;
  white-space: nowrap;
  display: inline-block;
  color: #05E494;
}
.screen__button:-moz-any-link {
  flex: none;
  white-space: nowrap;
  display: inline-block;
  color: #05E494;
}
.screen__button:any-link {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  white-space: nowrap;
  display: inline-block;
  color: #05E494;
}
.screen__button_active:-webkit-any-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0F0F0F;
  background-color: #05E494;
}
.screen__button_active:-moz-any-link {
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: #0F0F0F;
  background-color: #05E494;
}
.screen__button_active:any-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0F0F0F;
  background-color: #05E494;
}
.screen__button:hover {
  color: #0F0F0F;
  background-color: #05E494;
  -webkit-box-shadow: 0 0 0.5rem #05E494;
          box-shadow: 0 0 0.5rem #05E494;
}
.screen__scroll-tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  -webkit-animation: scrolltip 0.5s infinite alternate;
          animation: scrolltip 0.5s infinite alternate;
}
.screen__scroll-tip span {
  position: relative;
  top: 0;
  left: calc(50% - .25rem);
  width: 0.5rem;
  height: 0.125rem;
}
.screen__scroll-tip span::before, .screen__scroll-tip span::after {
  width: 0.5rem;
  height: 0.125rem;
  position: absolute;
  left: 0;
  top: 1rem;
  content: "";
  background-color: #FFFFFF;
}
.screen__scroll-tip span::before {
  -webkit-transform: rotate(45deg) translate(-0.25rem);
          transform: rotate(45deg) translate(-0.25rem);
}
.screen__scroll-tip span::after {
  -webkit-transform: rotate(-45deg) translate(0.25rem);
          transform: rotate(-45deg) translate(0.25rem);
}
@-webkit-keyframes scrolltip {
  from {
    -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem);
  }
}
@keyframes scrolltip {
  from {
    -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem);
  }
}

.content {
  max-width: 67.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 2rem;
}
.content__article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30rem;
  padding-right: 2rem;
}
.content__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}
.content__portfolio {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__details {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__details_contact {
  text-align: center;
}
.content__details_contact p {
  margin-top: 0.5rem;
}

.portfolio .portfolio__workslist {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 3rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
}

.portfolio .portfolio__workslist > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.portfolio .portfolio__workslist > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.portfolio .portfolio__workslist > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.portfolio .portfolio__workslist > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.portfolio .portfolio__workslist .portfolio__work {
  width: 14rem;
  height: 14rem;
  background-color: #161616;
  border: 2px #05E494 solid;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio__workslist .portfolio__work:hover .work__description {
  visibility: visible;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.portfolio .portfolio__workslist .work__image {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.portfolio .portfolio__workslist .work__image img {
  border-radius: 0.35rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .portfolio__workslist .work__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #05E494;
  position: absolute;
  bottom: 0;
  left: -100%;
  z-index: 200;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}
.portfolio .portfolio__workslist .work__description h4 {
  text-transform: uppercase;
  font-weight: 800;
  color: #0F0F0F;
  margin-bottom: 0.5rem;
}
.portfolio .portfolio__workslist .work__description p {
  color: #0F0F0F;
  font-size: 0.8rem;
}
.portfolio .portfolio__workslist .work__icons {
  margin-top: 0.5rem;
}
.portfolio .portfolio__workslist .work__icons i {
  font-size: 1.5rem;
  color: #0F0F0F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .portfolio__workslist .work__icons i:last-child {
  padding-left: 1.5rem;
}
.portfolio .portfolio__workslist .work__icons i:hover {
  color: #FFFFFF;
}

.timeline {
  width: 100%;
  max-width: 40rem;
  position: relative;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(33.33% - 1.5rem);
  background-color: #05E494;
  border-radius: 1px;
  width: 2px;
  height: 100%;
}
.timeline__entries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}
.timeline .entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.timeline .entry:last-child {
  margin-top: 5rem;
}
.timeline .entry__title {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  text-align: right;
  padding-right: 3rem;
  position: relative;
}
.timeline .entry__title::after {
  position: absolute;
  top: calc(50% - .5rem);
  right: calc(-9px + 1.5rem);
  content: "";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 8px;
  height: 8px;
  background-color: #05E494;
  border: 4px #0F0F0F solid;
  border-radius: 50%;
}
.timeline .entry__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 20rem;
}

.skills .skill {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.skills .skill .screen__paragraph {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.skills .skill .screen__paragraph [data-hint]:after {
  font-family: Nunito Sans, sans-serif;
  font-size: 0.8rem;
}
.skills .skill p {
  cursor: default;
  position: relative;
}
.skills .skill p span {
  color: #FFFFFF;
}
.skills .skill__progress-bar {
  text-align: right;
  margin: 0 0 1rem 1rem;
  position: relative;
  background-color: #161616;
  width: 19rem;
  height: 1rem;
  border-radius: 4px;
}
.skills .skill__progress-bar_last {
  margin: 0 0 0 1rem;
}
.skills .skill__progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #05E494;
  border-radius: 4px;
}

[class*=hint-][class*=-t-myhint] {
  /* set a custom name */
}
[class*=hint-][class*=-t-myhint][class*=hint-bottom]:before {
  border-bottom-color: #161616;
}
[class*=hint-][class*=-t-myhint][class*=hint-top]:before {
  border-top-color: #161616;
}
[class*=hint-][class*=-t-myhint][class*=hint-right]:before {
  border-right-color: #161616;
}
[class*=hint-][class*=-t-myhint][class*=hint-left]:before {
  border-left-color: #161616;
}
[class*=hint-][class*=-t-myhint]:after {
  background: #161616;
  color: #05E494;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__menu {
  max-width: 67.5rem;
  padding: 0 1rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.menu__link {
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 1.5rem;
}
.menu__link:last-child {
  margin: 0 0 0 auto;
}
.menu__link_logo {
  pointer-events: none;
}
.menu__link._active:not(.menu__link_logo):-webkit-any-link:hover {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.menu__link._active:not(.menu__link_logo):-moz-any-link:hover {
  transform: translate(0);
}
.menu__link._active:not(.menu__link_logo):any-link:hover {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.menu__link._active:not(.menu__link_logo):not(:last-child) {
  color: #05E494;
  text-shadow: 0 0 0.5em #05E494;
  position: relative;
}
.menu__link._active:not(.menu__link_logo):not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #05E494;
  height: 2px;
  -webkit-box-shadow: 0 0 0.5em #05E494;
          box-shadow: 0 0 0.5em #05E494;
}
.menu__link._active:not(.menu__link_logo):last-child {
  -webkit-box-shadow: 0 0 0.5rem #05E494;
          box-shadow: 0 0 0.5rem #05E494;
  background-color: #05E494;
  color: #0F0F0F;
}
.menu__link_focus:-webkit-any-link {
  letter-spacing: 0.1em;
  color: #05E494;
  border: 2px #05E494 solid;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__link_focus:-moz-any-link {
  letter-spacing: 0.1em;
  color: #05E494;
  border: 2px #05E494 solid;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.menu__link_focus:any-link {
  letter-spacing: 0.1em;
  color: #05E494;
  border: 2px #05E494 solid;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__link_focus:-webkit-any-link:hover {
  -webkit-box-shadow: 0 0 0.5rem #05E494;
          box-shadow: 0 0 0.5rem #05E494;
  background-color: #05E494;
  color: #0F0F0F;
}
.menu__link_focus:-moz-any-link:hover {
  box-shadow: 0 0 0.5rem #05E494;
  background-color: #05E494;
  color: #0F0F0F;
}
.menu__link_focus:any-link:hover {
  -webkit-box-shadow: 0 0 0.5rem #05E494;
          box-shadow: 0 0 0.5rem #05E494;
  background-color: #05E494;
  color: #0F0F0F;
}
.menu__link:-webkit-any-link:not(:last-child):hover {
  color: #05E494;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.menu__link:-moz-any-link:not(:last-child):hover {
  color: #05E494;
  transform: translateY(-4px);
}
.menu__link:any-link:not(:last-child):hover {
  color: #05E494;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

@media (max-width: 1023px) {
  .menu__link:not(.menu__link_logo) {
    visibility: hidden;
    opacity: 0;
  }

  .screen__image {
    left: 3rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width: 900px) {
  .content__article {
    padding: 0;
  }

  .content__portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__portfolio .portfolio__workslist {
    grid-gap: 2rem;
  }

  .screen__image {
    visibility: hidden;
  }

  .screen__content:not(.screen__content_hero) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 530px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 14rem;
    height: 14rem;
  }
}
@media (max-width: 510px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 13rem;
    height: 13rem;
  }
}
@media (max-width: 480px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 12rem;
    height: 12rem;
  }
}
@media (max-width: 460px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 14rem;
    height: 14rem;
  }

  * {
    font-size: 14px;
  }

  .skills > .skill > .skill__progress-bar {
    width: 14rem;
  }

  .content__buttons_experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__buttons_experience .screen__button {
    max-width: 12rem;
  }
  .content__buttons_experience .screen__button_contact {
    max-width: 15rem;
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 444px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 13rem;
    height: 13rem;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .header__container .page__logo {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 416px) {
  .content__portfolio > .portfolio__workslist {
    grid-gap: 1rem;
  }
}
@media (max-width: 391px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 12rem;
    height: 12rem;
  }
}
@media (max-width: 379px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 11rem;
    height: 11rem;
  }
  .content__portfolio > .portfolio__workslist > .portfolio__work .work__description h4 {
    margin: 0;
  }
  .content__portfolio > .portfolio__workslist > .portfolio__work .work__description p.screen__paragraph.screen__paragraph_subtitle {
    display: none;
  }
}
@media (max-width: 349px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 10rem;
    height: 10rem;
  }

  .skills > .skill > .skill__progress-bar {
    width: 13rem;
  }

  .timeline .entry__body p {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  * {
    font-size: 13px;
  }
}