/*
.wrapper {
  min-height: 100%;
  opacity: 0;
  transition: .3s;
  &_loaded {
    opacity: 1;
  }
}
*/

.header__hero {
  max-width: 67.5rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $bgColor;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__header {
    margin: 1rem 0;
    width: 100%;
    position: relative;
    z-index: 2;
    pointer-events: none;
    align-items: center;
  }

  &__socials {
    .socials__icon {
      pointer-events: visible;
      cursor: pointer;
      font-size: 1.5rem;
      transition: .3s;
      margin-right: 1.5rem;
      &:last-child {
        margin: 0;
      }

      &:hover {
        color: $greenColor;
      }
    }
  }

  &__background {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    background-color: $darkColor;
    height: 100%;
  }

  &__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $greenColor;
    cursor: pointer;
    border-radius: 2px;
  }

  &__back-to-top {
    cursor: pointer;
    transition: .3s;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    padding-left: 1.5rem;
    p {
      transition: .3s;
    }
    span {
      transition: .3s;
      position: relative;
      right: 1.5rem;
      bottom: -.6rem;
      &::before, &::after {
        transition: .3s;
        position: absolute;
        width: 10px;
        height: 2px;
        content: '';
        background-color: $mainColor;
      }
      &::before {
        left: -3px;
        transform: rotate(-45deg);
      }
      &::after {
        left: 3px;
        transform: rotate(45deg);
      }
    }
    &:hover {
      p {
        color: $greenColor;
      }
      span, span::before, span::after {
        background-color: $greenColor;
      }
    }
  }
}

.screen {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  position: relative;
  justify-content: center;

  &_hero {
    justify-content: space-between;
  }

  &__body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 3rem;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }

  &__content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 0 1rem;
    &_hero {
      text-align: center;
      align-items: center;
      flex-direction: column;
      pointer-events: none;
    }
  }

  &__title {
    margin: 0 0 .25rem;
  }

  &__subtitle {
    color: $greenColor;
    margin: 0 0 2rem;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      top: 100%;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $greenColor;
    }
  }

  &__subsubtitle {
    margin: 0 0 1rem;
  }

  &__paragraph {
    max-width: 28rem;
    text-align: left;
    display: inline-block;
  }

  &__button {
    letter-spacing: 0.1em;
    line-height: 1.1em;
    pointer-events: visible;
    text-align: center;
    padding: 1rem 2rem;
    border: 2px $greenColor solid;
    border-radius: .5rem;
    transition: .3s;
    &_contact {
      margin-left: 1rem;
    }
    &:any-link {
      flex: none;
      white-space: nowrap;
      display: inline-block;
      color: $greenColor;
    }

    &_active:any-link {
      transition: .3s;
      color: $bgColor;
      background-color: $greenColor;
    }

    &:hover {
      color: $bgColor;
      background-color: $greenColor;
      box-shadow: 0 0 .5rem $greenColor;
    }
  }

  &__scroll-tip {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    animation: scrolltip .5s infinite alternate;

    span {
      position: relative;
      top: 0;
      left: calc(50% - .25rem);
      width: .5rem;
      height: .125rem;

      &::before, &::after {
        width: .5rem;
        height: .125rem;
        position: absolute;
        left: 0;
        top: 1rem;
        content: '';
        background-color: $mainColor;
      }

      &::before {
        transform: rotate(45deg) translate(-.25rem);
      }

      &::after {
        transform: rotate(-45deg) translate(.25rem);
      }
    }

    @keyframes scrolltip {
      from {
        transform: translateY(.25rem);
      }
    }
  }
}

.content {
  max-width: 67.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__buttons {
    display: flex;
    justify-content: start;
    margin-top: 2rem;
  }

  &__article {
    flex-direction: column;
    max-width: 30rem;
    padding-right: 2rem;
  }

  &__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }

  &__portfolio {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  &__details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    &_contact {
      p {
        margin-top: .5rem;
      }
      text-align: center;
    }
  }
}

.portfolio {
  .portfolio__workslist {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3rem;
    .portfolio__work {
      width: 14rem;
      height: 14rem;
      background-color: $darkColor;
      border: 2px $greenColor solid;
      border-radius: .5rem;
      position: relative;
      overflow: hidden;
      &:hover {
        .work__description {
          visibility: visible;
          transform: translateX(100%);
        }
      }
    }
    .work {
      &__image {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
          border-radius: .35rem;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-color: $greenColor;
        position: absolute;
        bottom: 0; left: -100%;
        z-index: 200;
        transition: .3s;
        visibility: hidden;
        h4 {
          text-transform: uppercase;
          font-weight: $ExtraBold;
          color: $bgColor;
          margin-bottom: .5rem;
        }
        p {
          color: $bgColor;
          font-size: .8rem;
        }
      }
      &__icons {
        margin-top: .5rem;
        i {
          font-size: 1.5rem;
          color: $bgColor;
          transition: .3s;
          &:hover {
            color: $mainColor;
          }
        }
        a:nth-child(1) {
          padding-right: .5rem;
        }
      }
    }
  }
}

.timeline {
  width: 100%;
  max-width: 40rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(33.33% - 1.5rem);
    background-color: $greenColor;
    border-radius: 1px;
    width: 2px;
    height: 100%;
  }

  &__entries {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  .entry {
    display: flex;
    position: relative;
    &:last-child{
      margin-top: 5rem;
    }

    &__title {
      width: 33.33%;
      display: flex;
      justify-content: right;
      align-items: center;
      flex: none;
      text-align: right;
      padding-right: 3rem;
      position: relative;
      &::after {
        position: absolute;
        top: calc(50% - .5rem);
        right: calc(-9px + 1.5rem);
        content: '';
        box-sizing: content-box;
        width: 8px;
        height: 8px;
        background-color: $greenColor;
        border: 4px $bgColor solid;
        border-radius: 50%;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      max-width: 20rem;
    }
  }
}

.skills {
  .skill {
    width: 100%;
    .screen__paragraph {
      text-align: right;
      flex: 1 0 auto;
      [data-hint]:after {
        font-family: Nunito Sans, sans-serif;
        font-size: .8rem;
      }
    }
    p {
      cursor: default;
      span {
        color: $mainColor;
      }
      position: relative;
    }
    display: flex;
    justify-content: space-between;
    &__progress-bar {
      text-align: right;
      margin: 0 0 1rem 1rem;
      position: relative;
      background-color: $darkColor;
      width: 19rem;
      height: 1rem;
      border-radius: 4px;
      &_last {
        margin: 0 0 0 1rem;
      }
      span {
        position: absolute;
        top: 0; left:0;
        height: 100%;
        background-color: $greenColor;
        border-radius: 4px;
      }
    }
  }
}

[class*="hint-"][class*="-t-myhint"] { /* set a custom name */
  &[class*="hint-bottom"]:before{
    border-bottom-color: $darkColor;
  }
  &[class*="hint-top"]:before{
    border-top-color: $darkColor;
  }
  &[class*="hint-right"]:before{
    border-right-color: $darkColor;
  }
  &[class*="hint-left"]:before{
    border-left-color: $darkColor;
  }
  &:after {
    background: $darkColor;
    color: $greenColor;
  }
}