@media (max-width: 1023px) {
  body.lock {
    overflow: hidden;
  }
  .menu__body {
    .socials {
      display: flex;
      i {
        &:hover {
          color: $bgColor;
        }
        color: $bgColor;
      }
      margin-bottom: 1rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 19;
    position: fixed;
    top: 0;
    right: -150%;
    width: 100%;
    height: 100%;
    transition: .3s;
    background-color: $greenColor;
    .menu__list {
      display: flex;
      flex-direction: column;
      height: 25%;
      width: 100%;
      margin: auto 0;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      li {
        transition: .3s;
        &:not(:nth-child(1)):hover {
          transform: translate(0, 0px);
        }
        &:nth-child(1) {
          h3 {
            color: $bgColor;
          }
          position: fixed;
          top: 21px;
          left: 1rem;
        }
        margin: 0;
        color: $bgColor;
        ._active {
          color: $bgColor;
          &::after {
            display: none;
          }
        }
        .menu__link_focus {
          color: $bgColor;
          letter-spacing: normal;
          border: none;
          padding: 0;
        }
      }
    }
    &.active {
      transform: translate(-150%, 0px);
      .menu_list {
        display: flex;
      }
    }
  }
  .menu__icon {
    z-index: 22;
    display: block;
    &::before, &::after, span {
      background-color: $greenColor;
      position: absolute;
      width: 100%;
      height: 10%;
      transition: .3s;
    }
    &::before, &::after {
      content: '';
    }

    &::before {
      top: 15%;
    }

    span {
      top: calc(50% - 1px);
    }

    &::after {
      bottom: 15%;
    }

    &.active::before, &.active::after {
      background-color: $bgColor;
    }

    &.active span {
      transform: scale(0);
    }

    &.active::before {
      top:50%;
      transform: scale(1.2) rotate(-45deg) translate(0px, -50%);
    }
    &.active::after {
      bottom:50%;
      transform: scale(1.2) rotate(45deg) translate(0px, 60%);
    }
  }
}

@media (max-width: 900px) {
  .content__article {
    padding: 0;
  }
  .content__portfolio {
    flex-direction: column;
    .portfolio__workslist {
      grid-gap: 2rem;
    }
  }

  .screen__image {
    visibility: hidden;
  }
  .screen__content:not(.screen__content_hero) {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 530px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 510px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 13rem;
    height: 13rem;
  }
}

@media (max-width: 480px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 460px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 14rem;
    height: 14rem;
  }
  * {
    font-size: 14px;
  }
  .skills > .skill > .skill__progress-bar {
    width: 14rem;
  }
  .content__buttons_experience {
    .screen__button {
      max-width: 12rem;
    }
    .screen__button_contact {
      max-width: 15rem;
      margin: 1rem 0 0 0;
    }
    flex-direction: column;
    a {}
  }
}

@media (max-width: 444px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 13rem;
    height: 13rem;
  }
  .header__container {
    flex-direction: column;
    margin: 0 auto;
    .page__logo {
      margin-bottom: .5rem;
    }
  }
}

@media (max-width: 416px) {
  .content__portfolio > .portfolio__workslist {
    grid-gap: 1rem;
  }
}

@media (max-width: 391px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 379px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 11rem;
    height: 11rem;
    .work__description{
      h4 {
        margin: 0;
      }
      p.screen__paragraph.screen__paragraph_subtitle {
        display: none;
      }
    }
  }
}

@media (max-width: 349px) {
  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 10rem;
    height: 10rem;
  }
  .skills > .skill > .skill__progress-bar {
    width: 13rem;
  }
  .timeline .entry__body {
    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 320px) {
  * {
    font-size: 13px;
  }
}

@media (max-height: 725px) {
  .screen__subtitle {
    margin-bottom: 1rem;
  }
  .content__buttons {
    margin-top: 1rem;
  }
  .screen__paragraph_mobile-hidden {
    display: none;
  }
  .content__portfolio > .portfolio__workslist {
    grid-gap: 1rem;
  }

  .content__portfolio > .portfolio__workslist > .portfolio__work {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-height: 610px) {
  * {
    font-size: 13px;
  }
}