// COLORS ---->

$bgColor: #0F0F0F;
$darkColor: #161616;
$greenColor: #05E494;
$mainColor: #FFFFFF;

// <---- COLORS

// FONTWEIGHT ---->

$Regular: 400;
$SemiBold: 600;
$ExtraBold: 800;
$Black: 900;

// <---- FONTWEIGHT